@using Newtonsoft.Json
@using StockMarketAnalyticsService.Models
@model List<UserQueryModel>
@{
    ViewBag.Title = "Query List";
}
<a href="/Query/Edit">Add New Query</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Query</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var query in Model)
        {
            <tr>
                <td>@query.QueryTitle</td>
                <td>
                    <pre>@Html.Raw(JsonConvert.SerializeObject(query.Query, Formatting.Indented))</pre>
                </td>
                <td>
                    <a href="/Query/Edit?id=@query.QueryId">Edit</a> |
                    <a href="/Query/Delete?id=@query.QueryId">Delete</a> |
                    <a href="/Query/Execute?id=@query.QueryId">Execute</a>
                </td>
            </tr>
        }
    </tbody>
</table>
